body {
  color: white;
  background-color: #111;
}

::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: red;
  color: #fff;
  text-shadow: none;
}

blockquote {
  border-color: #3e71ff;
  color: #b8b8b8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
}

a {
  border-bottom: 1px solid var(--maincolor);
  color: inherit;
}

a:hover {
  background-color: var(--maincolor);
  color: black;
}

code {
  background-color: #242424;
}

pre {
  background-color: #242424;
}

.site-description a {
  color: #ddd;
}

.site-description a:hover {
  color: black;
}

.tags a {
  border-bottom: 1px solid var(--maincolor);
}

.tags a:hover {
  background-color: var(--maincolor);
  color: black;
}

.site-title a {
  color: white;
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

.soc:hover {
  color: black;
}

.draft-label {
  color: var(--maincolor);
  background-color: blue;
}
